/*!
	*speedometer.css
	*author: Manivannan R
	*project: Speedometer
*/
.envelope {
	background:#0F0F0F;
	position: relative;
	
	box-shadow: inset 0 0 5px 5px #000;
	-webkit-box-shadow: inset 0 0 5px 5px #000;
	-o-box-shadow: inset 0 0 5px 5px #000;
	-moz-box-shadow: inset 0 0 5px 5px #000;
	
	border-radius:50%;
	-webkit-border-radius:50%;
	-o-border-radius:50%;
	-moz-border-radius:50%;
}
.speedNobe{
	position:absolute;
	width:100%;
	z-index:10;	
	transition: all 1s;
	-webkit-transition: all 1s;
	-o-transition: all 1s;
	-moz-transition: all 1s;	
}
.speedPosition {
	position: absolute;
	color: #FFF;
	text-align: center;
	line-height: 80PX;
	font-family:arial;
	font-size: 30px;
	font-weight:bold;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-o-border-radius: 50%;
	-moz-border-radius: 50%;
	background: #191919;
	box-shadow: 0 0 3px 3px black;
	-webkit-box-shadow: 0 0 3px 3px black;
	-moz-box-shadow: 0 0 3px 3px black;
	-o-box-shadow: 0 0 3px 3px black;
}
.fonts
{
	font-family:arial;
	font-weight:bold;
	width:100%;
	text-align:center;
}

.speedNobe div{
	background: #48a3cb;
	position: absolute;
	height: 100%;
	top: 0;
}
.numb,.nob{
	transition: opacity 1s;
	-webkit-transition: opacity 1s;
	-o-transition: opacity 1s;
	-moz-transition: opacity 1s;	
	position: absolute;
	opacity: 0.5;
}
.nob{
	
	background:#eee;
	box-shadow: 0 0 2px 1px #eee;
	-webkit-box-shadow: 0 0 2px 1px #eee;
	-moz-box-shadow: 0 0 2px 1px #eee;
	-o-box-shadow: 0 0 2px 1px #eee;
}
.numb{
	
	color:#eee;
	text-align: left;
	overflow: hidden;
	opacity: 0.5;
	font-family: arial;
	font-size: 16px;
	font-weight: bold;
}
.nob.bright{
	opacity: 1;
}
.nob.danger{
	background:#FF113A;
	box-shadow: 0 0 2px 1px #FF113A;
	-webkit-box-shadow: 0 0 2px 1px #FF113A;
	-moz-box-shadow: 0 0 2px 1px #FF113A;
	-o-box-shadow: 0 0 2px 1px #FF113A;
}
.numb.bright{
	opacity: 1;
}
.numb.danger{
	color: #FF113A;
}

.nob.info{
	background:#FFFF00;
	box-shadow: 0 0 2px 1px #FFFF00;
	-webkit-box-shadow: 0 0 2px 1px #FFFF00;
	-moz-box-shadow: 0 0 2px 1px #FFFF00;
	-o-box-shadow: 0 0 2px 1px #FFFF00;
}
.numb.info{
	color: #FFFF00;
}

.nob.warning{
	background:#FF7514;
	box-shadow: 0 0 2px 1px #FF7514;
	-webkit-box-shadow: 0 0 2px 1px #FF7514;
	-moz-box-shadow: 0 0 2px 1px #FF7514;
	-o-box-shadow: 0 0 2px 1px #FF7514;
}
.numb.warning{
	color: #FF7514;
}

.nob.init{
	background:#287233;
	box-shadow: 0 0 2px 1px #287233;
	-webkit-box-shadow: 0 0 2px 1px #287233;
	-moz-box-shadow: 0 0 2px 1px #287233;
	-o-box-shadow: 0 0 2px 1px #287233;
}
.numb.init{
	color: #287233;
}