#resultados {
    margin: 10px 10px;
    padding: 5px;
}

#columnaSelect {
    width: 100% !important;
}

#resSearchfy {
    margin-bottom: 15px;
}

#btnAbrirEnlaces {
    margin: 15px 0px 15px 0px;
}

.row {
    margin: 15px 15px;
}

.card .row {
    margin: 5px 5px;
}