.modal-open .select2-container--open {
    z-index: 999999 !important;
    width: 100% !important;
}

.datepicker {
    z-index: 10000 !important;
}

blockquote {
    border-radius: 5px;
    padding: 5px 50px;
    margin: 5px 0 5px 0;
    background-repeat: no-repeat;
    background-position: 10px 14px;
}

blockquote.tip {
    background-color: #d2ffc1;
    background-image: url(../imgs/tip.png);
}

blockquote.information {
    background-color: #e8f0ff;
    background-image: url('../imgs/info.png');
}

blockquote.question {
    background-color: #ffc1f0;
    background-image: url('../imgs/question.png');
}

blockquote.warning {
    background-color: lemonchiffon;
    background-image: url('../imgs/warning.png');
}

span.image-wrapper a {
    display: inline-block;
    width: 100%;
    text-align: center;
}

span.image-wrapper a img {
    max-width: 100%;
    display: inline-block;
    height: auto;
}

.image-caption {
    display: inline-block;
    width: 100%;
    margin: auto;
    text-align: center;
    padding: 5px 5px;
    font-size: 0.8em;
}


/* ... */
/*------------------------------------------------------------------
[10. Colors / .teal, .olive, .violet, .orange, .darkgray, .blue, .grey] 
*/
.teal {
    color: #00b5ad !important;
}

.olive {
    color: #b5cc18 !important;
}

.violet {
    color: #6435c9 !important;
}

.orange {
    color: #f2711c !important;
}

.darkgray {
    color: darkgray !important;
}

.blue {
    color: #2185d0 !important;
}

.grey {
    color: #767676 !important;
}


.detail-subtitle {
    font-size: .8rem;
    text-transform: uppercase;
    line-height: 1.6;
}

/*------------------------------------------------------------------
[7. Dashboard Cards / .card] 
*/
.card {
    margin-bottom: 15px;
    box-shadow: rgba(35, 46, 60, .04) 0 2px 4px 0;
}

.card .content2 {
    padding: 15px 15px 10px 15px;
}

.card .content2 .icon-big {
    font-size: 3em;
    min-height: 64px;
    line-height: 64px;
}

.card .content2 .number {
    font-size: 1.5em;
    text-align: right;
    font-weight: bolder;
}

.card .content2 .footer2 {
    background-attachment: fixed;
    position: relative;
    padding: 0;
    line-height: 30px;
}

.card .content2 .stats {
    display: inline-block;
    color: #a9a9a9;
}

/*------------------------------------------------------------------
[7. Dashboard Cards / .card] 
*/

/*--------- JQCLOUD TOOLTIP -------------*/
/**
 * Tooltip Styles
 */

/* Add this attribute to the element that needs a tooltip */
[data-tooltip] {
    position: relative;
    z-index: 9999999;
    cursor: pointer;
  }
  
  /* Hide the tooltip content by default */
  [data-tooltip]:before,
  [data-tooltip]:after {
    visibility: hidden;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    pointer-events: none;
  }
  
  /* Position tooltip above the element */
  [data-tooltip]:before {
    position: absolute;
    bottom: 80%;
    left: 50%;
    margin-bottom: 5px;
    margin-left: -30px;
    padding: 7px;
    width: 60px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #000;
    background-color: hsla(0, 0%, 20%, 0.9);
    color: #fff;
    content: attr(data-tooltip);
    text-align: center;
    font-size: 14px;
    line-height: 1.2;
  }
  
  /* Triangle hack to make tooltip look like a speech bubble */
  [data-tooltip]:after {
    position: absolute;
    bottom: 80%;
    left: 50%;
    margin-left: 1px;
    width: 0;
    border-top: 5px solid #000;
    border-top: 5px solid hsla(0, 0%, 20%, 0.9);
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    content: " ";
    font-size: 0;
    line-height: 0;
  }
  
  /* Show tooltip content on hover */
  [data-tooltip]:hover:before,
  [data-tooltip]:hover:after {
    visibility: visible;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
    z-index: 9999999;
  }
